<header class="mdc-top-app-bar mdc-top-app-bar">
  <div class="mdc-top-app-bar__row">
    <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
      <span class="mdc-top-app-bar__title">Friendly Chat</span>
    </section>
    <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end">
      <button *ngIf="!currentUser" (click)="login()" class="material-icons mdc-top-app-bar__action-item">account_circle</button>
      <div *ngIf="currentUser" id="user-pic" [ngStyle]="profilePicStyles"></div>
      {{ (currentUser) ? (user | async)?.displayName : 'Iniciar Sesión' }}
      <button *ngIf="currentUser" (click)="logout()" class="material-icons mdc-top-app-bar__action-item">close</button>
    </section>
  </div>
</header>

<main class="main" *ngIf="currentUser">
  <div class="mdc-card">
    <div class="mdc-card__primary-action">
      <ul #demoList id="demo-list" class="mdc-list demo-list mdc-list--two-line mdc-list--avatar-list">
        <div *ngFor="let message of messages | async">
          <li class="mdc-list-item">
            <span *ngIf="!message?.photoUrl" class="mdc-list-item__graphic material-icons" aria-hidden="true">account_circle</span>
            <div *ngIf="message?.photoUrl" class="pic" [style.background-image]="'url(' + message.photoUrl + ')'"></div>
            <span class="mdc-list-item__text">
              <span class="mdc-list-item__secondary-text">{{ message.name }}</span>
              {{ message.text }}
            </span>
          </li>
          <div class="thumb mdc-elevation--z2">
            <img *ngIf="message.imageUrl" [src]="message.imageUrl + (message.moderated ? '&amp;moderated=1' : '')">
          </div>
          <li class="mdc-list-divider" role="separator"></li>
        </div>
      </ul>
    </div>

    <form id="messageForm" #messageForm (ngSubmit)="sendMessage(message)" novalidate class="mdc-card__actions mdc-elevation--z10">

      <div class="mdc-card__action-buttons">
        <div class="mdc-text-field mdc-text-field--fullwidth">
          <input #message name="message" class="mdc-text-field__input" type="text" placeholder="Mensaje...">
        </div>
      </div>

      <div class="mdc-card__action-icons">
        <button type="submit" class="mdc-icon-button material-icons mdc-card__action mdc-card__action--icon">send</button>

        <input id="mediaCapture" type="file" name="fileUpload" #fileUpload accept="image/*,capture=camera" (change)="saveImageMessage($event)">
        <button type="button" (click)="fileUpload.click()" class="mdc-icon-button material-icons mdc-card__action mdc-card__action--icon">image</button>
      </div>

    </form>

  </div>
</main>
